*{
    font-family: 'Open Sans', sans-serif;
}
body {
    padding-top: 100px;
}
.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
#path{
    width: 84%;
    float: left;
}
#toast-container > div {
    opacity: 1 !important;
}
.marginTop {
    margin-top: 10px;
}
.navbar{
    background: #2c3a49;
}
.navbar-brand {
    padding-top: 0;
    font-size: 28px;
    padding-bottom: 4px;
    color: #ffffff !important;
}
.navbar-brand img{
    top: -3px;
    position: relative;
}
.navbar-nav{
    float: right;
}
.navbar-nav li{
    margin-top: 6px;
}
.navbar-nav li a{
    color: #333333;
    border-radius: 4px;
    background: #ffffff;
    padding: 6px 15px 6px 15px;
}
.navbar-collapse{
    right: 15px;
    position: absolute;
}
.navigation{
    left: 0;
    right: 0;
    top: 65px;
    z-index: 1050;
    position: fixed;
    background: #eaeaea;
    padding: 8px 0 8px 0;
    box-shadow: 0 0 3px 0 #cecece;
}
.navigation ul{
    margin: 0;
    padding: 0;
}
.navigation ul li{
    display: inline-block;
}
.navigation ul li a{
    color: #333;
    font-size: 14px;
    padding: 0 10px;
    text-decoration: none;
}
.navigation ul li a:hover{
    color: #000;
}
.navigation ul li:first-of-type a{
    padding: 0 10px 0 0;
}
.left-section .form-control{
    border-right: 0;
    border-radius: 5px 0 0 5px;
}
.left-section .card {
    border: 0;
}
.left-section .card .card-body{
    padding: 0;
    overflow: auto;
    height: calc(100vh - 210px);
}
.left-section .card .card-body::-webkit-scrollbar {
    width: 8px;
    border-radius: 10px;
    background-color: #d9d9d9;
}
.left-section .card .card-body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #909090;
}
.left-section .card .card-body::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #d9d9d9;
}
.table-responsive .table{
    width: 100% !important;
}
.left-section button {
    background-color: #ffffff;
    border: 1px solid #ced4da;
    border-radius: 0 5px 5px 0;
}
.table-nav{
    width: 100%;
    padding: 7px 0 7px 0;
    display: inline-block;
    border: 1px solid #ced4da;
}
.table-nav ul {
    margin: 0;
    padding: 0;
}
.table-nav ul li{
    display: inline-block;
}
.table-nav ul li a{
    color: #538bc5;
    font-size: 14px;
    text-decoration: none;
    padding: 0 15px 0 15px;
}
.table-responsive{
    height: calc(100vh - 206px);
}
.table-responsive::-webkit-scrollbar {
     width: 8px;
     border-radius: 10px;
     background-color: #d9d9d9;
}
.table-responsive::-webkit-scrollbar-thumb {
     border-radius: 10px;
     background-color: #909090;
}
.table-responsive::-webkit-scrollbar-track {
     border-radius: 10px;
     background-color: #d9d9d9;
}
.table-responsive .table{
    width: 100% !important;
}
.disabled {
    cursor: not-allowed;
    opacity: 0.5;
}
.enabled {
    cursor: pointer;
    opacity: 1;
}

.compress_header {
    background-color: #000;
}

.compressHeader {
    color: #ffffff;
    padding-left: 190px;
}

.permissionHeader {
    color: #ffffff;
    padding-left: 120px;
}

.permissionInput input {
    width: 20%;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
#permissionsModal .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.extractResultBody {
    height: 150px;
    overflow-y: scroll;
}

#extractListSection{
    padding: 11px;
    background-color: aliceblue;
}

#loader {
    border: 11px solid #f3f3f3;
    border-radius: 50%;
    border-top: 9px solid #2c3a49;
    border-bottom: 9px solid #2c3a49;
    width: 49px;
    height: 49px;
    position: relative;
    left: 430px;
    bottom: 226px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
